@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "@fontsource/poppins";

@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  font-family: "Poppins";
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden !important;
  width: 100vw;
}

.menu-bar {
  transition-duration: 0.9s;
  transition-property: display;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.underline-effect::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0px;
  height: 3px;
  width: 0%;
  background-color: rgb(207, 198, 198);
  border-radius: 1px;
  transition: width 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.underline-effect:hover::after {
  width: 100%;
}

.input-cnt,
.submit-button {
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.input-cnt:hover {
  transform: scale(1.06);
  border-color: hsl(237, 69%, 47%);
}

.input-cnt:hover > i {
  /* background-color: rgb(69, 117, 237); */
  background-color: rgb(68, 142, 232);
  color: whitesmoke;
}

.submit-button:hover {
  transform: scale(1.06);
  border-color: hsl(237, 69%, 47%);
  background-color: rgb(68, 142, 232);
}


/* .btn {
  border: 1px solid black;
  cursor: pointer;
  transition: color 0.7s;
  position: relative;
  overflow: hidden;
  color: black;
  background: none;

}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: black;
  z-index: -1; 
  transition: height 0.8s ease-in-out;
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.btn:hover {
  color: white; 
}

.btn:hover::before {
  height: 180%;
} */


.btn {
  border: 2px solid white;
  cursor: pointer;
  transition: color 0.7s cubic-bezier(0.645, 0.045, 0.355, 0.8);
  position: relative;
  overflow: hidden;
  color: white; 
  background: none;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: white;
  z-index: -1;
  transition: height 0.8s cubic-bezier(0.645, 0.045, 0.355, 0.8);
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.btn:hover {
  color: black;
}

.btn:hover::before {
  height: 180%;
}
